body {
			font-family: "Helvetica Neue";
			background: #000000;
			color: #ffffff !important;
		}
		.brand {
			border: none !important;
		}
		.signUp {
			border-radius: 0px !important;
			width: 125px;
			margin-top: -1px !important;
			background: #EA2D49;
		}
		img.signBack {
			display: block;
			position: fixed;
			top: 0px;
			z-index: -10;
			height: 100%;
			width: 100%;
		}
		input {
			border-radius: 0px !important;
			border: none;
			margin: 0 auto;
		}
		#signUpBox {
			background-color: #34485F !important;
			padding: 10px;
		}
		.form-signin-heading {
			color: #ECF0F1;
			text-align: center;
		}
		.btn {
			background: #EA2D49;
		}
		.btn-sign {
			background: #EA2D49 !important;
			border-radius: 0px;
		}
		p.light {
			font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Light";
			/*font-weight: 100;*/
			font-size: 18px;
			color: #ECF0F1;
			text-align: center;
			font-style: italic;
		}
		p.join {
			font-family: "HelveticaNeue-CondensedBold";
			font-size: 24px;
			color: #ECF0F1;
			text-align: center;
		}
		.checkbox input {
			background: #FFFFFF;
			outline: 1px solid !important;
		}
		.btn-social-facebook {
			background: #2D4A98;
			color: #FFFFFF !important;
		}
		#fbButton:hover {
			color: #FFFFFF !important;
		}
		.checkbox.checked .icons {
			color: #ECF0F1;
		}
		.checkbox.checked, .radio.checked {
			color: #FFFFFF !important;
		}
		.tos {
			color: #ffffff !important;
		}
		.tos:hover {
			color: #ffffff !important;
		}
		.cFix {
			margin-left: 5% !important;
		}
		a.gbLink {
			border-radius: 3px !important;
			margin-top: 15px !important;
			margin-right: 15px !important;
			background: #EA2D49 !important;
		}
		a.gbLink:link {
			color: #FFFFFF !important;
		}

		a.gbLink:visited {
			color: #FFFFFF !important;
			text-decoration: underline !important;
		}

		a.gbLink:active {
			color: #FFFFFF !important;
		}

		a.gbLink:hover {
			color: #FFFFFF !important;
			text-decoration: underline !important;
		}
		.dropdown-menu {
			border: 2px solid #FFFFFF !important;
			min-width: 260px;
		}
		.navbar .nav > li > a:focus {
			color: #FFFFFF !important;
		}

.brand { border: none !important; }
 
input:required {
	border-color: #E74C3C;
	border-width: 2px; }
 
.navbar-inverse .nav > li.active > a, .navbar-inverse .nav > li.active > a:hover, .navbar-inverse .nav > li.active > a:focus {
	background-color: #FF6766 !important;
	border-bottom-color: #FF6766 !important; }
 
.help-block { font-size: 16px !important; }
 
p.prodDescb { padding-bottom: 7px !important; }
 
p.productDesc { font-size: 16px !important; }
 
#productCart {
	border-bottom: 1px solid #34485F;
	padding-bottom: 15px !important; }
 
#topbar {
	background: #2C3E50;
	border-bottom: solid 1px white;
	height: 75px; }
 
#userName {
	font-size: 26px !important;
	margin-bottom: 0px !important;
	text-transform: uppercase !important; }
 
#productPagi { margin-left: 25% !important; }
 
#personalBlock { margin-top: -275px !important; }
 
#cartSide {
	border-left: 2px dashed #34485F;
	padding: 10px; }
 
.navbar .nav ul a:hover { background-color: #FF6766 !important; }
 
input:focus { border-color: #E10A44 !important; }
 
.btn-primary { background: #FF6766 !important; }
 
a.backLink {
	color: #34485F !important;
	text-decoration: none; }
 
	a.backLink:hover {
		color: #FF6766 !important;
		text-decoration: underline !important; }
 
.navbar-inner { border-radius: 0px !important; }
 
.navbar-new-bt {
	background-color: #FF6766;
	border-radius: 75%;
	bottom: 5px;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-size: 7;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 12px;
	text-align: center;
	width: 16px;
	z-index: 10; }
 
.checkbox.primary .icons { color: #2C3E50; }
 
.checkbox.primary.checked .icons, .checkbox.primary.checked { color: #E74C3C !important; }
 
.fuelux .wizard ul li.complete { color: #E74C3C !important; }
 
.fuelux .badge-success { background-color: #E74C3C !important; }
 
.button {
	background: #EA2E49;
	border-color: #EA2E49; }
 
	.button:hover {
		background: #AF0823;
		border-color: #AF0823; }
 
.inputTop {
	border-radius: 0px !important;
	height: 30px !important;
	margin-top: 5px !important; }
 
.loginTop {
	height: 30px !important;
	margin-top: 5px !important; }
 
#signForm {
	background: #C6C6C6;
	border-radius: 5px;
	opacity: 0.75; }
 
input[type="text"], input[type="email"] {
	border-radius: 0px !important;
	opacity: 1.0 !important; }
 
.add-on {
	background: #fff !important;
	border-left: none !important;
	border-radius: 0px !important; }
 
.signPrefix {
	margin-right: -45px;
	width: 40px !important; }
 
#keepLoggedIn {
	margin-top: -20px !important;
	text-align: center;
	vertical-align: middle; }
 
#footer { font-size: 10px; }



 